body {
  font: bold 1.5em/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.container {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.button {
  background-color: #777777;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #7AAF4C;
}

/* #increment {
  background-color: #4CAF50;
}

#decrement {
  background-color: #AF504C;
}

#reset {
  background-color: #777777;
} */